<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>体験② CSSミニワーク</title>
    
    <style>
        /*
        [ミッション 2 & 3]
        1. クラス名 'box' を指定するためのセレクタをここに書いてください。(例: .box { ... })
        2. 背景色 (background-color) を指定してください。
        3. 内側の余白 (padding) を 20px に指定してください。
        */

        .box {
            /* ここにスタイルを書いてください */
            
        }

    </style>
</head>
<body>

    <h1>CSSミニワークへようこそ</h1>
    
    <div>
        <p>私は「箱」です。見た目をデザインしてください！</p>
    </div>

</body>
</html>